.model-configuration-container {
  padding-left: 46px;
}

.content-max-width {
  max-width: 680px;
}

.text-total-values {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.total-value {
  color: #f44336;
}

.input-values {
  margin-left: 12px;
  width: 130px;
}

.model-m-value {
  color: black;
}

.model-b-value {
  color: black;
}

.model-container {
  padding-top: 24px;
}

.model-text {
  text-align: center;
  padding-left: 16px;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid rgba(0, 0, 0, 0.85);
  background-color: #f44336;;
  font-size: 18px;
  color: white;
}

.no-left-mergin {
  margin-left: 0px;
}

.generated-data-container {
  margin-top: 18px;
}

.text-chip {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-shadow: 2px 2px 2px rgba(206,89,55,0);
}

.xValue-chip {
  color: rgb(255, 91, 79);;
}

.yValue-chip {
  color: rgb(46, 132, 182);
}

.divider-chip {
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  color: white;
}

.progress-bar-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 20px;
}

.progress-bar {
  margin-left: 10px; 
}

.progress-value {
  margin-top: 0;
  color: #f44336;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
}

.done-value {
  margin-top: 0;
  color: #3f51b5;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
}

.sequential-model-container {
  margin-top: 8px;
}