<!-- model configuration -->
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div class="model-configuration-container" fxLayout="column" fxLayoutAlign="start center">
    <mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" placeholder="Number of values" value="150" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="3" placeholder="Learning rate" value="{{learningRate}}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option value="1">SGD</mat-option>
        <mat-option value="2">Adagrad</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <canvas #canvas id="stage" width="{{ getCanvasSize }}" height="{{ getCanvasSize }}" style="border:1px solid #000000;"
      (click)="canvasClicked($event)"></canvas>
  </div>
</div>
<div class="model-container" fxLayout="column" fxLayoutAlign="start center">
  <p class="model-text"> Y = <span class="model-m-value">{{ getMValue }}</span>X + <span
      class="model-b-value">{{ getBValue }}</span></p>
</div>
<!-- train-data-card -->
<mat-card class="generated-data-container">
  <h3 class="no-left-mergin">Generated data</h3>
  <mat-card-content class="content-max-width">
    <mat-chip-list>
      <mat-chip *ngFor="let chip of chipsData">
        <span class="xValue-chip text-chip">x:{{ chip.xValue }}</span>
        <span class="divider-chip text-chip"> | </span>
        <span class="yValue-chip text-chip">y:{{ chip.yValue }}</span>
      </mat-chip>
    </mat-chip-list>
    <p class="text-total-values">Total number of values: <span class="total-value">{{ chipsData.length }}</span></p>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div>
        <mat-form-field class="input-values">
          <input matInput type="number" placeholder="Number of values" width="5" min="2"
            (change)="changeNumberOfGeneratedValues($event)" value="{{numberOfGeneratedValues}}" max="15000">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="generateRandomData()">Generate data</button>
      </div>
      <div>
        <button mat-raised-button color="warn" (click)="clearData()">Clear data</button>
        <button mat-raised-button color="primary" (click)="train($event)">Train model</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>

<!-- sequential-model-card -->
<mat-card class="sequential-model-container">
  <h3 class="no-left-mergin">Sequential Model with dense layer</h3>
  <mat-card-content class="content-max-width">
<!-- CONTENT -->
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-form-field class="input-values">
          <input matInput type="number" placeholder="Number of epochs" width="3" min="2"
            (change)="changeEpochs($event)" value="{{epochs}}" max="5000">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="train($event)">Train dense model</button>
    </div>
    <section class="progress-bar-section">
      <mat-progress-bar
          class="progress-bar"
          [color]="pbColor"
          [mode]="pbMode"
          [value]="pbValue"
          [bufferValue]="pbBufferValue">
      </mat-progress-bar>
    </section>
    <div [ngSwitch]="pbStatus">
      <p class="progress-value" *ngSwitchCase="0">{{ pbValue }} <strong>%</strong></p>
      <p class="done-value" *ngSwitchCase="1"> 
        Learning <strong>DONE ! </strong>
      </p>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="ts-color">timer</mat-icon>
        <span> {{ scriptPerformance.timeElapsed }} ms</span>
      </div>
    </div>
  </mat-card-actions>
</mat-card>

<!-- graph-result-card -->
<mat-card class="generated-data-container">
  <h3 class="no-left-mergin">Result</h3>
  <mat-card-content class="content-max-width">
      <div class="chart-wrapper">
          <div><!-- //<div *ngIf="chart"> -->
              <canvas #canvasResult>{{ chart }}</canvas>
            </div>
        </div>
  </mat-card-content>
</mat-card>

<div fxLayout="row" fxLayoutAlign="space-between center">
  TensorFlow says {{ prediction }}
  <input type="number" (change)="predictLinear($event.target.value)">
</div>
