<!-- model configuration -->
<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <canvas #canvas id="stage" width="{{ getCanvasSize }}" height="{{ getCanvasSize }}" style="border:1px solid #000000;"
      (click)="canvasClicked($event)"></canvas>
  </div>
</div>
<div class="model-container" fxLayout="column" fxLayoutAlign="start center">
  <p class="model-text"> Y = <span class="model-m-value">{{ getMValue }}</span>X + <span
      class="model-b-value">{{ getBValue }}</span></p>
</div>
<!-- train-data-card -->
<mat-card class="generated-data-container">
  <h3 class="no-left-margin">Generated data</h3>
  <p class="subtitle-text">These data will be used for training the model</p>
  <mat-card-content class="content-max-width">
    <mat-chip-list>
      <mat-chip *ngFor="let chip of chipsData">
        <span class="xValue-chip text-chip">x:{{ chip.xValue }}</span>
        <span class="divider-chip text-chip"> | </span>
        <span class="yValue-chip text-chip">y:{{ chip.yValue }}</span>
      </mat-chip>
    </mat-chip-list>
    <p class="text-total-values">Total number of values: <span class="total-value">{{ chipsData.length }}</span></p>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div>
        <mat-form-field class="input-values">
          <input matInput type="number" placeholder="Number of values" width="5" min="2"
            (change)="changeNumberOfGeneratedValues($event)" value="{{numberOfGeneratedValues}}" max="15000">
        </mat-form-field>
        <mat-form-field class="input-values">
            <input matInput type="number" placeholder="Number of iteration" width="5" min="2"
              (change)="changeIteration($event)" value="{{iteration}}" max="15000">
          </mat-form-field>
        <button mat-raised-button color="primary" (click)="generateRandomData()">Generate data</button>
      </div>
      <div>
        <button mat-raised-button color="warn" (click)="clearData()">Clear data</button>
        <button mat-raised-button color="primary" (click)="train($event)">Train model</button>
      </div>
    </div>
  </mat-card-actions>


  <mat-expansion-panel>
      <mat-expansion-panel-header>
      
        <mat-panel-title>
            <mat-icon class="total-value">trending_down</mat-icon>
             Loss function graph
        </mat-panel-title>
      </mat-expansion-panel-header>
      <canvas #canvasLossFunction>{{ chartLossFunction }}</canvas>
    
    </mat-expansion-panel>
  

</mat-card>

<!-- sequential-model-card -->
<mat-card class="sequential-model-container">
  <h3 class="no-left-margin">Sequential Model with dense layer</h3>
  <p class="subtitle-text">Train sequential model with one dense layer and bias</p>
  <mat-card-content class="content-max-width">
<!-- CONTENT -->
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-form-field class="input-values">
          <mat-icon class="total-value" matPrefix>loop</mat-icon>
          <input matInput type="number" placeholder="Number of epochs" width="3" min="2"
            (change)="changeEpochs($event)" value="{{epochs}}" max="5000">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="train($event)">Train dense model</button>
    </div>
    <section class="progress-bar-section">
      <mat-progress-bar
          class="progress-bar"
          [color]="pbColor"
          [mode]="pbMode"
          [value]="pbValue"
          [bufferValue]="pbBufferValue">
      </mat-progress-bar>
    </section>
    <div [ngSwitch]="pbStatus">
      <p class="progress-value" *ngSwitchCase="0">{{ pbValue }} <strong>%</strong></p>
      <p class="done-value" *ngSwitchCase="1"> 
        Learning <strong>DONE ! </strong>
      </p>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="ts-color">timer</mat-icon>
        <span>Time spent learning <strong>{{ scriptPerformance.timeElapsed }} ms</strong></span>
      </div>
      <div fxLayout="row" *ngSwitchCase="1" fxLayoutAlign="center center">
          <mat-form-field class="input-values">
              <input matInput type="number"width="3" (change)="changePreditValue($event)"  value="{{preditDenseValue}}" max="5000">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="linearPrediction($event)">Predict value</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>

<!-- graph-result-card -->
<mat-card class="generated-data-container">
  <h3 class="no-left-margin">Result</h3>
  <p class="subtitle-text">Model and training data comparison</p>
  <mat-card-content class="content-max-width">
      <div class="chart-wrapper">
          <div><!-- //<div *ngIf="chart"> -->
              <canvas #canvasResult>{{ chart }}</canvas>
            </div>
        </div>
  </mat-card-content>
</mat-card>
