<div fxLayout="row" fxLayoutAlign="center center">
  <!-- [TABS] -->
  <mat-tab-group>
    <!-- [tab-about] -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ts-color">info</mat-icon>
        <span class="tab-menu">About</span>
      </ng-template>
      <mat-card>
        <mat-card-content>
          <h1 class="ts-color">TensorflowJS Examples</h1>
          <p>This is just a sample application of usage TensorflowJS library </p>
          <p>The application contains 3 examples and is part of the diploma thesis</p>
          <mat-list>
            <h2 class="list-header" mat-subheader>Included examples:</h2>
            <mat-list-item class="small-item">
              <mat-icon mat-list-icon class="ts-color">trending_up</mat-icon>
              <h4 mat-line class="ts-color">Linear regression</h4>
              <p mat-line> Train model with your data gathered from canvas</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon class="ts-color">format_paint</mat-icon>
              <h4 mat-line class="ts-color">Number classification</h4>
              <p mat-line> Pretrained model on MNIST database </p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon class="ts-color">image_search</mat-icon>
              <h4 mat-line class="ts-color">Image classification</h4>
              <p mat-line> Pretrained MobilNet model </p>
            </mat-list-item>
          </mat-list>
          <div fxLayout="row" fxLayoutAlign="center center">
            <img src="../assets/kizi_logo.PNG" alt="VŠE KIZI Logo " />
          </div>
          <p class="text-technologies">This Application is build on these technologies:</p>
          <div fxLayout="row" fxLayoutAlign="center center">
            <img src="../assets/tensorflowjs.gif" alt="tensorflowjs-logo" />
          </div>
          <div class="logo-container" fxLayout="row" fxLayoutAlign="center center">
            <img class="logo-technology" alt="angular-logo" src="../assets/angular.gif" />
            <img class="logo-technology" alt="typescript-logo" src="../assets/typescript.gif" />
            <img class="logo-technology" alt="charts-logo" src="../assets/chartjs.gif" />
          </div>
          <div class="logo-container" fxLayout="row" fxLayoutAlign="center center">
              <img width="24" height="24" alt="github-logo" src="../assets/GitHub-Mark-32px.png" /> 
              <a class="github-link" href="https://github.com/NutCrackee/angular-tensorflowjs">source code</a>
          </div>
          <p class="text-technologies">Pavel Nepomucký &copy; 2019 </p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <!-- [tab-linear-regression] -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ts-color">trending_up</mat-icon>
        <span class="tab-menu">Linear regression</span>
      </ng-template>
      <mat-card>
          <mat-card-header>
              <mat-card-title>TensorflowJS linear regression example</mat-card-title>
              <mat-card-subtitle>Train model with provided data and configure model
              </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <app-linear-regression-example></app-linear-regression-example>
          </mat-card-content>
      </mat-card>
    </mat-tab>
    <!-- [tab-number-clasification] -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ts-color">format_paint</mat-icon>
        <span class="tab-menu">Canvas drawing</span>
      </ng-template>
      <mat-card class="example-card">
        <app-drawning-example></app-drawning-example>
      </mat-card>
    </mat-tab>
    <!-- [tab-image-clasification] -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ts-color">image_search</mat-icon>
        <span class="tab-menu">Picture guessing</span>
      </ng-template>
      <app-image-classification></app-image-classification>
    </mat-tab>
  </mat-tab-group>

  <router-outlet></router-outlet>
</div>